*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url('https://www.beatxp.com/blog/wp-content/uploads/2023/05/BMI-Calculator.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Center */
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Glass Card */
.box{
    width: 400px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border-radius: 18px;
    border: 3px solid rgb(18, 148, 255);
}

/* Heading */
.only{
    text-align: center;
    font-size: 30px;
    color: rgb(13, 255, 243);
    margin-bottom: 10px;
}

/* Inputs */
.box input{
    padding: 14px;
    width: 100%;

    background: rgba(255,255,255,0.3);
    border: none;
    outline: none;

    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
}

.box input::placeholder{
    color: #d4d2d2;

}

/* Button */
.box button{
    margin-top: 10px;
    padding: 14px;

    background: linear-gradient(135deg, #00c6ff, #0072ff);
    color: #fff;

    border: none;
    border-radius: 10px;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.box button:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* Result */
.result{
    text-align: center;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
}
.subresult{
    height: 110px;
    border-radius: 15px;
    background: rgba(255,255,255,0.25);
    border: 2px solid #00c6ff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 6px;
    font-size: 18px;

    transition: 0.4s ease;
}

.subresult h2{
    font-size: 26px;
}

.subresult p{
    font-weight: bold;
}
.lower{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    appearance: none;
    transition: 0.5s;
}
.subresult:hover{
    box-shadow: 0 0 20px rgba(0,255,255,0.5);
}
